{% extends "base.html" %}

{% block content %}
<div class="card mx-auto p-5 my-5" style="min-width:500px; max-width:75%">
<h1>Добавление услуги</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.duration.label }}<br>
        {{ form.duration(class="form-control") }}<br>
        {% for error in form.duration.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.info.label }}<br>
        {{ form.info(class="form-control", style="resize: none; height:150px") }}<br>
        {% for error in form.info.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {{message}}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
</div>
{% endblock %}