{% extends "base.html" %}

{% block content %}
<div class="card mx-auto p-5 my-5" style="min-width:500px; max-width:75%">
<h1>Добавление мастера</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {%if message%}
        <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2">{{message}}</small>
    {%endif%}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.start_work_time.label }}<br>
        {{ form.start_work_time(class="form-control") }}<br>
        {% for error in form.start_work_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.end_work_time.label }}<br>
        {{ form.end_work_time(class="form-control") }}<br>
        {% for error in form.end_work_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.work_days.label }}<br>
        {{ form.work_days(class="form-control") }}<br>
        {% for error in form.work_days.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
</div>
{% endblock %}