{% extends "base.html" %}

{% block content %}
    <div class="card text-dark bg-light rounded-0 border-0 h-auto p-5">
        <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
            <h5 class="card-title h3">О сайте</h5>
            <p class="card-text">На нашем вы сможете создать корпоративный аккаунт для своего салона или парикмахерской
                и с помощью него удобно вести онлайн запись клиентов на нужные им услуги, время и мастера. Доступ к онлайн
                записи для клиентов будет представлен в виде преснальной ссылки, которую Вы сможете разместить в любых соц. сетях.</p>
            <p class="card-text"></p>
            </div>
        </div>
        </div>
    </div>
    <div class="card text-light bg-dark rounded-0 border-0 h-auto text-right p-5">
        <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
            <h5 class="card-title h3">Как это работает</h5>
            <p class="card-text">Для клиента: для записи в салон Вам следует перейти по персональной ссылке нужного салона, выбрать мастера и время, а также ввести своё имя, номер телефона и адрес электорнной почты. На почту вам придёт письмо со всей инфорацией.</p>
            <p class="card-text">Для администратора: Вам следует зарегестрироваться как администратор, после Вам нужно будет внести данные мастеров и предоставляемые Вашим салоном услуги. Как только вы это сделаете ваши слиенты смогут записываться к вам, а у Вас будет отображаться вся информация.</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}