{% extends "base.html" %}

{% block content %}
<div class="calendar">
    <div class="timeline">
      <div class="spacer"></div>
      {% for i in range(24) %}
       <div class="time-marker">{{i}}</div>
      {% endfor %}
    </div>
    <div class="days">
      <div class="day mon">
        <div class="date">
          <p class="date-num">9</p>
          <p class="date-day">Mon</p>
        </div>
        <div class="events">
          <div class="event start-2 end-5 securities">
            <p class="title">Securities Regulation</p>
            <p class="time">2 PM - 5 PM</p>
          </div>
        </div>
      </div>
      <div class="day tues">
        <div class="date">
          <p class="date-num">12</p>
          <p class="date-day">Tues</p>
        </div>
        <div class="events">
          <div class="event start-10 end-12 corp-fi">
            <p class="title">Corporate Finance</p>
            <p class="time">10 AM - 12 PM</p>
          </div>
          <div class="event start-1 end-4 ent-law">
            <p class="title">Entertainment Law</p>
            <p class="time">1PM - 4PM</p>
          </div>
        </div>
      </div>
      <div class="day wed">
        <div class="date">
          <p class="date-num">11</p>
          <p class="date-day">Wed</p>
        </div>
        <div class="events">
          <div class="event start-11 end-12 writing">
            <p class="title">Writing Seminar</p>
            <p class="time">11 AM - 12 PM</p>
          </div>
          <div class="event start-2 end-5 securities">
            <p class="title">Securities Regulation</p>
            <p class="time">2 PM - 5 PM</p>
          </div>
        </div>
      </div>
      <div class="day thurs">
        <div class="date">
          <p class="date-num">12</p>
          <p class="date-day">Thurs</p>
        </div>
        <div class="events">
          <div class="event start-10 end-12 corp-fi">
            <p class="title">Corporate Finance</p>
            <p class="time">10 AM - 12 PM</p>
          </div>
          <div class="event start-1 end-4 ent-law">
            <p class="title">Entertainment Law</p>
            <p class="time">1PM - 4PM</p>
          </div>
        </div>
      </div>
      <div class="day fri">
        <div class="date">
          <p class="date-num">13</p>
          <p class="date-day">Fri</p>
        </div>
        <div class="events">
        </div>
      </div>
    </div>
  </div> 
{% endblock %}